
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
}

body {
  font-family: montserrat, arial, sans-serif;
  font-weight: 300;
}

/*
====================
    Board
====================
*/

.wrapper {
  width: 100%;
  max-width: 35rem;
  margin: 2rem auto;
}

.board {
  margin: 2rem 0;
  border-collapse: collapse;
  background-color: #098CB2;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5s);

  td {
    width: 5rem;
    height: 5rem;
    padding: .5rem;

    input {
      position: absolute;
      left: -200%;
      top: -200%;
      opacity: 0;

      & + label {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: inset 5px 5px 5px rgba(0,0,0,.5);
      }
    }
  }
}
