<!DOCTYPE html>
<html lang="en">

  <% include head.ejs %>

  <body>

    <table>
      <tr>
        <td><label for="a6"></label><input id="a6" type="radio" name="cell" value="a6" disabled></td>
        <td><label for="b6"></label><input id="b6" type="radio" name="cell" value="b6" disabled></td>
        <td><label for="c6"></label><input id="c6" type="radio" name="cell" value="c6" disabled></td>
        <td><label for="d6"></label><input id="d6" type="radio" name="cell" value="d6" disabled></td>
        <td><label for="e6"></label><input id="e6" type="radio" name="cell" value="e6" disabled></td>
        <td><label for="f6"></label><input id="f6" type="radio" name="cell" value="f6" disabled></td>
        <td><label for="g6"></label><input id="g6" type="radio" name="cell" value="g6" disabled></td>
      </tr>
      <tr>
        <td><label for="a5"></label><input id="a5" type="radio" name="cell" value="a5" disabled></td>
        <td><label for="b5"></label><input id="b5" type="radio" name="cell" value="b5" disabled></td>
        <td><label for="c5"></label><input id="c5" type="radio" name="cell" value="c5" disabled></td>
        <td><label for="d5"></label><input id="d5" type="radio" name="cell" value="d5" disabled></td>
        <td><label for="e5"></label><input id="e5" type="radio" name="cell" value="e5" disabled></td>
        <td><label for="f5"></label><input id="f5" type="radio" name="cell" value="f5" disabled></td>
        <td><label for="g5"></label><input id="g5" type="radio" name="cell" value="g5" disabled></td>
      </tr>
      <tr>
        <td><label for="a4"></label><input id="a4" type="radio" name="cell" value="a4" disabled></td>
        <td><label for="b4"></label><input id="b4" type="radio" name="cell" value="b4" disabled></td>
        <td><label for="c4"></label><input id="c4" type="radio" name="cell" value="c4" disabled></td>
        <td><label for="d4"></label><input id="d4" type="radio" name="cell" value="d4" disabled></td>
        <td><label for="e4"></label><input id="e4" type="radio" name="cell" value="e4" disabled></td>
        <td><label for="f4"></label><input id="f4" type="radio" name="cell" value="f4" disabled></td>
        <td><label for="g4"></label><input id="g4" type="radio" name="cell" value="g4" disabled></td>
      </tr>
      <tr>
        <td><label for="a3"></label><input id="a3" type="radio" name="cell" value="a3" disabled></td>
        <td><label for="b3"></label><input id="b3" type="radio" name="cell" value="b3" disabled></td>
        <td><label for="c3"></label><input id="c3" type="radio" name="cell" value="c3" disabled></td>
        <td><label for="d3"></label><input id="d3" type="radio" name="cell" value="d3" disabled></td>
        <td><label for="e3"></label><input id="e3" type="radio" name="cell" value="e3" disabled></td>
        <td><label for="f3"></label><input id="f3" type="radio" name="cell" value="f3" disabled></td>
        <td><label for="g3"></label><input id="g3" type="radio" name="cell" value="g3" disabled></td>
      </tr>
      <tr>
        <td><label for="a2"></label><input id="a2" type="radio" name="cell" value="a2" disabled></td>
        <td><label for="b2"></label><input id="b2" type="radio" name="cell" value="b2" disabled></td>
        <td><label for="c2"></label><input id="c2" type="radio" name="cell" value="c2" disabled></td>
        <td><label for="d2"></label><input id="d2" type="radio" name="cell" value="d2" disabled></td>
        <td><label for="e2"></label><input id="e2" type="radio" name="cell" value="e2" disabled></td>
        <td><label for="f2"></label><input id="f2" type="radio" name="cell" value="f2" disabled></td>
        <td><label for="g2"></label><input id="g2" type="radio" name="cell" value="g2" disabled></td>
      </tr>
      <tr>
        <td><label for="a1"></label><input id="a1" type="radio" name="cell" value="a1"></td>
        <td><label for="b1"></label><input id="b1" type="radio" name="cell" value="b1"></td>
        <td><label for="c1"></label><input id="c1" type="radio" name="cell" value="c1"></td>
        <td><label for="d1"></label><input id="d1" type="radio" name="cell" value="d1"></td>
        <td><label for="e1"></label><input id="e1" type="radio" name="cell" value="e1"></td>
        <td><label for="f1"></label><input id="f1" type="radio" name="cell" value="f1"></td>
        <td><label for="g1"></label><input id="g1" type="radio" name="cell" value="g1"></td>
      </tr>
    </table>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
