<!DOCTYPE html>
<html lang="en">

  <% include head.ejs %>

  <body>

    <table class="board">
      <tr>
        <td><input id="a6" type="checkbox" name="cell" value="a6" disabled><label for="a6"></label></td>
        <td><input id="b6" type="checkbox" name="cell" value="b6" disabled><label for="b6"></label></td>
        <td><input id="c6" type="checkbox" name="cell" value="c6" disabled><label for="c6"></label></td>
        <td><input id="d6" type="checkbox" name="cell" value="d6" disabled><label for="d6"></label></td>
        <td><input id="e6" type="checkbox" name="cell" value="e6" disabled><label for="e6"></label></td>
        <td><input id="f6" type="checkbox" name="cell" value="f6" disabled><label for="f6"></label></td>
        <td><input id="g6" type="checkbox" name="cell" value="g6" disabled><label for="g6"></label></td>
      </tr>
      <tr>
        <td><input id="a5" type="checkbox" name="cell" value="a5" disabled><label for="a5"></label></td>
        <td><input id="b5" type="checkbox" name="cell" value="b5" disabled><label for="b5"></label></td>
        <td><input id="c5" type="checkbox" name="cell" value="c5" disabled><label for="c5"></label></td>
        <td><input id="d5" type="checkbox" name="cell" value="d5" disabled><label for="d5"></label></td>
        <td><input id="e5" type="checkbox" name="cell" value="e5" disabled><label for="e5"></label></td>
        <td><input id="f5" type="checkbox" name="cell" value="f5" disabled><label for="f5"></label></td>
        <td><input id="g5" type="checkbox" name="cell" value="g5" disabled><label for="g5"></label></td>
      </tr>
      <tr>
        <td><input id="a4" type="checkbox" name="cell" value="a4" disabled><label for="a4"></label></td>
        <td><input id="b4" type="checkbox" name="cell" value="b4" disabled><label for="b4"></label></td>
        <td><input id="c4" type="checkbox" name="cell" value="c4" disabled><label for="c4"></label></td>
        <td><input id="d4" type="checkbox" name="cell" value="d4" disabled><label for="d4"></label></td>
        <td><input id="e4" type="checkbox" name="cell" value="e4" disabled><label for="e4"></label></td>
        <td><input id="f4" type="checkbox" name="cell" value="f4" disabled><label for="f4"></label></td>
        <td><input id="g4" type="checkbox" name="cell" value="g4" disabled><label for="g4"></label></td>
      </tr>
      <tr>
        <td><input id="a3" type="checkbox" name="cell" value="a3" disabled><label for="a3"></label></td>
        <td><input id="b3" type="checkbox" name="cell" value="b3" disabled><label for="b3"></label></td>
        <td><input id="c3" type="checkbox" name="cell" value="c3" disabled><label for="c3"></label></td>
        <td><input id="d3" type="checkbox" name="cell" value="d3" disabled><label for="d3"></label></td>
        <td><input id="e3" type="checkbox" name="cell" value="e3" disabled><label for="e3"></label></td>
        <td><input id="f3" type="checkbox" name="cell" value="f3" disabled><label for="f3"></label></td>
        <td><input id="g3" type="checkbox" name="cell" value="g3" disabled><label for="g3"></label></td>
      </tr>
      <tr>
        <td><input id="a2" type="checkbox" name="cell" value="a2" disabled><label for="a2"></label></td>
        <td><input id="b2" type="checkbox" name="cell" value="b2" disabled><label for="b2"></label></td>
        <td><input id="c2" type="checkbox" name="cell" value="c2" disabled><label for="c2"></label></td>
        <td><input id="d2" type="checkbox" name="cell" value="d2" disabled><label for="d2"></label></td>
        <td><input id="e2" type="checkbox" name="cell" value="e2" disabled><label for="e2"></label></td>
        <td><input id="f2" type="checkbox" name="cell" value="f2" disabled><label for="f2"></label></td>
        <td><input id="g2" type="checkbox" name="cell" value="g2" disabled><label for="g2"></label></td>
      </tr>
      <tr>
        <td><input id="a1" type="checkbox" name="cell" value="a1"><label for="a1"></label></td>
        <td><input id="b1" type="checkbox" name="cell" value="b1"><label for="b1"></label></td>
        <td><input id="c1" type="checkbox" name="cell" value="c1"><label for="c1"></label></td>
        <td><input id="d1" type="checkbox" name="cell" value="d1"><label for="d1"></label></td>
        <td><input id="e1" type="checkbox" name="cell" value="e1"><label for="e1"></label></td>
        <td><input id="f1" type="checkbox" name="cell" value="f1"><label for="f1"></label></td>
        <td><input id="g1" type="checkbox" name="cell" value="g1"><label for="g1"></label></td>
      </tr>
    </table>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>
